In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2022-05-09 20:10:47,20.8947,-156.4700,82.42,44,20,13.00
1,1,Nome,US,2022-05-09 20:06:51,64.5011,-165.4064,32.16,74,40,16.11
2,2,Esperance,AU,2022-05-09 20:10:47,-33.8667,121.9000,61.56,44,10,14.47
3,3,Zhigansk,RU,2022-05-09 20:10:48,66.7697,123.3711,7.70,92,12,8.03
4,4,Bambous Virieux,MU,2022-05-09 20:06:45,-20.3428,57.7575,74.21,94,40,1.14

In [3]:
# get the datatypes
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     584 non-null    int64
 1   City        584 non-null    object
 2   Country     581 non-null    object
 3   Date        584 non-null    object
 4   Lat         584 non-null    float64
 5   Lng         584 non-null    float64
 6   Max Temp    584 non-null    float64
 7   Humidity    584 non-null    int64
 8   Cloudiness  584 non-null    int64
 9   Wind Speed  584 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.8+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kahului,US,2022-05-09 20:10:47,20.8947,-156.4700,82.42,44,20,13.00
5,5,Kota Kinabalu,MY,2022-05-09 20:10:48,5.9749,116.0724,75.18,100,20,3.44
10,10,Faanui,PF,2022-05-09 20:06:54,-16.4833,-151.7500,81.82,73,1,14.70
12,12,Avarua,CK,2022-05-09 20:10:51,-21.2078,-159.7750,80.76,79,100,11.99
15,15,Hithadhoo,MV,2022-05-09 20:10:52,-0.6000,73.0833,84.60,77,65,20.47
16,16,Lorengau,PG,2022-05-09 20:10:53,-2.0226,147.2712,83.75,69,97,13.69
18,18,Arraial Do Cabo,BR,2022-05-09 20:10:53,-22.9661,-42.0278,75.06,60,20,6.91
23,23,Rikitea,PF,2022-05-09 20:10:55,-23.1203,-134.9692,76.08,67,17,10.76
26,26,Bandarbeyla,SO,2022-05-09 20:10:57,9.4942,50.8122,83.10,85,83,4.50
27,27,Jamestown,US,2022-05-09 20:08:43,42.0970,-79.2353,75.52,19,0,4.61

In [11]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Kahului      US     82.42  20.8947 -156.4700
5     Kota Kinabalu      MY     75.18   5.9749  116.0724
10           Faanui      PF     81.82 -16.4833 -151.7500
12           Avarua      CK     80.76 -21.2078 -159.7750
15        Hithadhoo      MV     84.60  -0.6000   73.0833
16         Lorengau      PG     83.75  -2.0226  147.2712
18  Arraial Do Cabo      BR     75.06 -22.9661  -42.0278
23          Rikitea      PF     76.08 -23.1203 -134.9692
26      Bandarbeyla      SO     83.10   9.4942   50.8122
27        Jamestown      US     75.52  42.0970  -79.2353

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except IndexError:
            print("Hotel not found...skipping.")

Maui Seaside Hotel
Gaya Centre Hotel
Bora-Bora Pearl Beach Resort & Spa
Paradise Inn
Scoop Guest House
Lorengau Harbourside Hotel
Pousada Porto Praia
People ThankYou
JABIR HOTEL
Hampton Inn & Suites Jamestown
Sheraton Kauai Coconut Beach Resort
OYO 598 Peony Hotel
Hampton Inn & Suites Morgan City
دفتر نمایندگی شرکت بازاریابان ایرانیان زمینBIZ
Villa Enata
Pousada Porto De Canoas
Mohallah Masjid Ghulam shah
Hilo Hawaiian Hotel
Finch Bay Galapagos Hotel
Auberge du Routard
Paradise Hotel
Mövenpick Qassim
Best Western Saluki Inn
hotel luna del desierto
Isles Sunset Lodge
RedDoorz Syariah near Taman Berlabuh Tarakan
Bel Pousada E Restaurante
Atlantis Hotel
Padepokan HM Arum Sabil
Ikathouse
Emo House
Hotel not found...skipping.
Mantra Trilogy Cairns
El Felix Cottages
આવકાર હોટલ
Maui Sunset
InterContinental Riyadh, an IHG Hotel
Casa Andina Standard Nasca
Hotel Mac Palace
Cortez Malaga Techy Caroly
Casa Gualberto - Deysi
Hideaway Bahamas Beach Club
Samarth Krupa Farm, Palghar
Hotel Costa Marina
Pondok Wisata Elim
Hotel not found...skipping.
محمد هادي ال فطيح
Hotel Archipelago
Hotel not found...skipping.
HS Hotsson Smart Acapulco
Hotel Fifu
Holiday Inn Express Roseville-St. Paul
Pine Tree Motel
Iftin hotel hobyo
DoubleFAG
INN NEW HORIZON
Hotel Saigon-PT
Kevina Transient House
Grand Vilia Hotel
Mini Central
Swiss-Belhotel Ambon
Sahid Bela Ternate Hotel
Nhà Nghỉ Phương Hòa
Nusa Island Retreat
Aldea del Bazar Hotel and Spa
Hotel Tesoro Los Cabos
Axim Beach Resort And Spa
Taloa Heights
Tanna Lodge
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Seagulls Inn Namatani
Hotels in Lakshadweep Islands
More Hotet LTD
Restaurant Greedy Coco Lodge Majunga
Hotel GSA
Hotel Merceditas
Tony King Suites Limited
Phils Hotel
Tarumã Tropical Hotel
Grage Hotel Bengkulu
DoubleTree Suites by Hilton Hotel Columbus Downtown
Hotel The Royal Honours
Balaji tifen & meals veg & non veg hotel
Casa do Ian😎
Cititel Penang
Daru Lodge
Penginapan Kim
Hotel not found...skipping.
Club Hotel Eilat
Aston Pontianak Hotel & Convention Center
Nuevo Hotel Coromoto
Maringe Lagoon Lodge
Central Mosque Galamawa
Hotel Ambulu Jember
Dewdrops Boutique Retreat Igatpuri
Hilton Garden Inn Starkville
Pousada Chao Earth
Tatem beach
RISO HOTEL
Uruna Bay Retreat
Hotel not found...skipping.
Samudra Homes
Butterfly Beach Hotel
Mangalore Beach House - EWA Ikigai
CASA AVALIADA
Imagination Island
Screensaver
Casa Dora, Bubaque
Heritage Park Hotel
Dreamland Hotel Annexe Bockle
Base Lodging
Villa Rica Park Hotel GMR
Domicile 1sur le goudron
Yarada Jungle Beach Resorts
Inpawa Hotel
Hotel not found...skipping.
Auberge Médina
Omadhoo Inn
Hotel not found...skipping.
Le Manotel
Sea Lounge! Bar, Club & Restaurant
Park Inn Motel
Mercure Padang
Tang Dynasty Lodge Kota Belud
hotel la terminal
hotêl doufoulougou
Hotel Arena Blanca
Footed Hotel and Suites
Sur Plaza Hotel
The Surin
Hotel Colombia Real - Cartagena
EPIC SANA Luanda
Hotel
La Riviera Hotel Colonial
Beach Rotana
Sama Emirate Hotel
La pousada
Crôa Mares Hotel
Hostal Sumac
Amaloh Boutique Resort
Guesthouse Samotina
Pousada Monte Carmelo O Pão
Ujamaa Beach Resort
Hotel not found...skipping.
HOSPEDAJE XIMENA
Coral Resort Estates
Nathaniel's Lodge
Lingao Ditai Inn
Hotel not found...skipping.
فندق أوباري
Foyer ADM
JM Lodge
West Jontor
ALETHEIA Appartement Sinnamary
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Hotel not found...skipping.
Grafika Hotel Dan Restoran
CeBlue Villas & Beach Resort
Pousada Rua Camurupim
RH HOTEL (4 Star)
Cricaré Praia Hotel
Aviador Hotel Boutique
Aparthotel Napalach
Spanish Villa
Hôtel Raiatea Lodge
Swiss Belhotel Manokwari
Las Cabinas Del Sueño
Hotel not found...skipping.
LIKWALE LODGE
Hotel Olako
Bangkok City Suite Hotel
The Passage
Hôtel Le Dronmi
Pousada e churrascaria Manguaba
Raybow International Hotel
Chico's Ranch

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))